html,
body {
	padding: 0;
	margin: 0;
	font-family: Raleway, Arial;
	background: #0a1929 url(../public/background.jpg) no-repeat center center
		fixed;
	background-size: cover;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
